#ModalBox {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.63);
    display: block;
    position: fixed;
    top: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

#ModalBoxContent {
    background white;
    display block;
    text-align center;
    padding 4rem 6rem;
    max-width 500px;
    border-radius 10px;
    position relative;
}

#btnClose {
    position absolute;
    top 20px;
    right 20px;
    cursor: pointer;
}

#ContentMessage {
    text-align: left;
}

#ContentMessage h3 {
    text-align: center;
    font-size: 1.8rem;
    padding-bottom: 1rem;
}