.CoverForm
    // background blue
    text-align center
    color white
    // height 50vh
    padding-top 9%
    
    &__title
        display inline-block
        vertical-align middle
        // background orange
        width 40%
        text-align left
        
        h1
            font-size 2.5rem
        
        p 
            font-size 1.2rem
            
    &__form
        display inline-block
        vertical-align middle
        background rgba(51, 47, 51, 0.24)
        border-radius 5px
        width 50%
        text-align left
        padding 33px
        
        &--input
            display block
            padding-bottom 1.1rem
            width 100%
            overflow hidden
            
            .item
                display inline-block
                
                label
                    display block
                    
                input
                    display block
                    padding .7rem .8rem
                    font-size .8rem
                    width 90%;
                    border 0
                    border-radius 5px
            
            .input__margin
                margin-right 2rem
                
            .input__email
                width 63%
                    
            .btnCotizar
                // width 26%
                margin-left .6rem
                
                button
                    padding 1rem 3.5rem
                    width 100%
                    border 0
                    color white
                    border-radius 5px
                    background #2bafea
                    font-size 1rem
                    text-transform uppercase
                    text-align center

                
                    