.CoverForm
    // background blue
    text-align center
    color white
    // height 50vh
    padding-top 13%
    background-image url('../images/cover-slider/4.jpg')
    background-size cover
    background-repeat no-repeat
    height 75vh
    
    &__title
        display inline-block
        vertical-align middle
        // background orange
        width 40%
        text-align left
        
        h1
            font-size 2.5rem
            text-shadow 2px 2px rgba(0, 0, 0, 0.11)
        
        p 
            font-size 1.2rem
            
    &__form
        display inline-block
        vertical-align middle
        background rgba(98, 100, 106, 0.38)
        border-radius 5px
        width 50%
        text-align left
        padding 33px
        
        &--input
            display block
            padding-bottom 1.1rem
            width 100%
            overflow hidden
            
            .item
                display inline-block
                width 30%
                
                label
                    display block
                    
                input
                    display block
                    padding .7rem .8rem
                    font-size .8rem
                    width 86%
                    border 0
                    border-radius 5px
                
                select
                    width 100%
                    padding .7rem .8rem
                    font-size .8rem
                    height 33px
                    border 5px
            
            .input__margin
                margin-right 2rem
                
            .input__email
                width 71%
                    
            .btnCotizar
                width 20%
                
                a
                    padding 1rem 3.5rem
                    width 100%
                    border 0
                    color white
                    border-radius 5px
                    background #2bafea
                    font-size 1rem
                    text-transform uppercase
                    text-align center
                    cursor pointer

                
                    