doctype strict
html(xmlns='http://www.w3.org/1999/xhtml', lang='es')
  head
    meta(charset='utf-8')
    //- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='robots', content='noodp,noydir')
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
    meta(name='description', content='Tabi Assist - Viaja, Disfruta, Explora')
    title Tabi Assist
    link(rel='icon', type='image/png', href='/favicon.ico')

    //- Facebook
    meta(property='og:title', content='Tabi Assist')
    meta(property='og:description', content='Viaja, Disfruta, Explora')
    meta(property='og:image', content='/og_image.jpg')
    meta(property='og:type', content='website')
    meta(property='og:url', content='/')
    //- Styles
    link(rel='stylesheet', href='./css/index.css')

    //- if lt IE 9
      script(src='./js/html5shiv.js')
    //- if lt IE 9
      script(src='./js/respond.src.js')
    //- if lt IE 9
      link(rel='stylesheet', type='text/css', media='all', href='./css/ie8.css')
  body
    header(class="HeaderMain")
        div(class="HeaderMain__LogoMain")
            figure(class="HeaderMain__LogoMain__box")
                img(src="./images/logo.png")

        div(class="HeaderMain__NavMain")
            nav(class="HeaderMain__NavMain__Container")
                div(class="HeaderMain__NavMain__Container--item")
                    figure
                        a(href="#")
                            img(src="./images/redes-sociales/facebook_white.png")
                div(class="HeaderMain__NavMain__Container--item")
                    figure
                        a(href="#")
                            img(src="./images/redes-sociales/facebook_white.png")
                div(class="HeaderMain__NavMain__Container--item")
                    figure
                        a(href="#")
                            img(src="./images/redes-sociales/facebook_white.png")

                ul
                    li
                        a(href="#conocenos") Conócenos
                    li
                        a(href="#beneficios") Beneficios
                    li
                        a(href="#contactanos") Escribenos

    section(class="CoverForm")
        div(class="CoverForm__title")
            h2 Viaja, Disfruta, Explora 
            h2 Disfruta de tu viaje
            p Hacemos que tu seguridad este 100% Cubierta
        
        div(class="CoverForm__form")
            form(action="/plataform-pricing" method="post")
                article(class="CoverForm__form--input")
                    div(class="item  input__margin")
                        label(for="origen") Origen
                        select(id="tipo_viaje")
                          option(value="dni") Perú
                          option(value="dni") Argentina
                          option(value="dni") Mexico
                          option(value="dni") España

                    div(class="item  input__margin")
                        label(for="destino") Destino
                        select(id="tipo_viaje")
                          option(value="dni") Europa
                          option(value="dni") Norte America
                          option(value="dni") Sur America
                          option(value="dni") America Central
                          option(value="dni") Caribe
                          option(value="dni") Asia
                          option(value="dni") Africa
                          option(value="dni") Oceania


                    div(class="item")
                        label(for="tipo_viaje") Tipo de Viaje
                        select(id="tipo_viaje")
                          option(value="dni") Turismo, Negocio
                          option(value="dni") Estudio
                          option(value="dni") Work and Travel
                          option(value="dni") Multiviaje

                article(class="CoverForm__form--input")
                    div(class="item  input__margin")
                        label(for="salida") Salida
                        input(id="salida" name="salida" type="date")

                    div(class="item  input__margin")
                        label(for="regreso") Regreso
                        input(id="regreso" name="regreso" type="date")

                    div(class="item")
                        label(for="dias") Dias
                        input(id="dias" name="dias" type="number")

                article(class="CoverForm__form--input")
                    div(class="item  input__margin")
                        label(for="pasajero") Pasajero (0 - 74)
                        input(id="pasajero" name="pasajero" type="number")

                    div(class="item  input__margin")
                        label(for="adulto_mayor") Adulto Mayor (75 - 84)
                        input(id="adulto_mayor" name="adulto_mayor" type="number")

                    div(class="item")
                        label(for="code_promocion") Código Promoción
                        input(id="code_promocion" name="code_promocion" type="text")

                article(class="CoverForm__form--input")
                    div(class="item  input__email")
                        label(for="email") Correo
                        input(id="email" name="email" type="email")

                    div(class="item  btnCotizar")
                        button(id="btnFormCotizar") Cotizar

    
    a(name="conocenos" id="a")
    section(class="AboutUs")
        div(class="AboutUs__box")

            div(class="AboutUs__bottom")
                div(class="AboutUs__bottom--text")
                    h2 Conócenos
                    p Nos Apasiona viajar, y por que queremos que tengas una experiencia unica, te brindamos los mejores paquetes de seguros, rapido y eficiente. Porque te mereces disfrutar esto y mucho más.

                div(class="AboutUs__bottom--icon")
                    article(class="item  item-left")
                        figure(class="image")
                            img(src="./images/AboutUs/sign-check-icon.png")
                        div(class="text")
                            h3 Experiencia
                            p Estamos 5 años en el mercado, con más de 5 millones de clientes felices en el mercado.
                    
                    article(class="item")
                        figure(class="image")
                            img(src="./images/AboutUs/sign-check-icon.png")
                        div(class="text")
                            h3 Aliados
                            p Trabajamos con las mejores empresas de seguro, y confianza, con la garantia que ya conoces.


    a(name="beneficios" id="a")
    section(class="Benefits")
        div(class="Benefits__box")
            div(class="Benefits__title")
                h2 ¿Que Ofrecemos?

            div(class="Benefits__Content")
                article(class="Benefits__Content--item")
                    figure(class="image")
                        img(src="./images/AboutUs/sign-check-icon.png")
                    div(class="text")
                        h3 Asistencia Médica al viaje
                        p Amplia tu monto de cobertura de USD60,000 según el viaje que vas a realizar
                article(class="Benefits__Content--item")
                    figure(class="image")
                        img(src="./images/AboutUs/sign-check-icon.png")
                    div(class="text")
                        h3 Asistencia Médica al viaje
                        p Amplia tu monto de cobertura de USD60,000 según el viaje que vas a realizar
                article(class="Benefits__Content--item")
                    figure(class="image")
                        img(src="./images/AboutUs/sign-check-icon.png")
                    div(class="text")
                        h3 Asistencia Médica al viaje
                        p Amplia tu monto de cobertura de USD60,000 según el viaje que vas a realizar
                article(class="Benefits__Content--item")
                    figure(class="image")
                        img(src="./images/AboutUs/sign-check-icon.png")
                    div(class="text")
                        h3 Asistencia Médica al viaje
                        p Amplia tu monto de cobertura de USD60,000 según el viaje que vas a realizar
                article(class="Benefits__Content--item")
                    figure(class="image")
                        img(src="./images/AboutUs/sign-check-icon.png")
                    div(class="text")
                        h3 Asistencia Médica al viaje
                        p Amplia tu monto de cobertura de USD60,000 según el viaje que vas a realizar
                article(class="Benefits__Content--item")
                    figure(class="image")
                        img(src="./images/AboutUs/sign-check-icon.png")
                    div(class="text")
                        h3 Asistencia Médica al viaje
                        p Amplia tu monto de cobertura de USD60,000 según el viaje que vas a realizar

    
    a(name="contactanos" id="a")
    section(class="ContactForm")
        div(class="ContactForm__box")
            div(class="ContactForm__text")
                h2 Contáctanos
                p Porque trabajamos con transparencia, queremos darte el mejor servicio y aclarar tus dudas. Escribemos y nuestro equipo te contactare en breve.

            div(class="ContactForm__form")
                div(class="ContactForm__form--input")
                    input(type="text" name="nombre" id="FormContactName" placeholder="Nombre")

                div(class="ContactForm__form--input")
                    input(type="text" name="email" id="FormContactEmail" placeholder="Email")

                div(class="ContactForm__form--input")
                    input(type="text" name="telefono" id="FormContactTelefono" placeholder="Telefono")

                div(class="ContactForm__form--input")
                    textarea(name="", cols="10", rows="4", placeholder="Escribe tu Mensaje")

                div(class="ContactForm__form--input to__right")
                    a(id="btnFormContactSend" class="btnFormContactSend") Enviar

    footer(class="FooterMain")
        div(class="FooterMain__right")
            article(class="FooterMain__right--logo")
                figure
                    img(src="./images/logo.png")

            article(class="FooterMain__right--redes-sociales")
                div(class="FooterMain__right--redes-sociales--item")
                    figure
                        a(href="#")
                            img(src="./images/redes-sociales/facebook_white.png" width="30")
                div(class="FooterMain__right--redes-sociales--item")
                    figure
                        a(href="#")
                            img(src="./images/redes-sociales/facebook_white.png" width="30")
                div(class="FooterMain__right--redes-sociales--item")
                    figure
                        a(href="#")
                            img(src="./images/redes-sociales/facebook_white.png" width="30")

            article(class="FooterMain__right--text")
                p Tabi Assist SAC - Todos los derechos reservados 2017

        div(class="FooterMain__left")
            article(class="FooterMain__left--icons")
                //- figure
                //-     img(src="./images/FooterMain/rapidssl-ssl-header.png")

                figure
                    img(src="./images/FooterMain/culqi_logo.png")

            article(class="FooterMain__left--email")
                figure
                    img(src="./images/FooterMain/email.png")
                div(class="text")
                    p hola@tabiassite.com

            article(class="FooterMain__left--text")
                span
                    a(href="#terminos-condiciones") Terminos y Condiciones
                span
                    a(href="#terminos-condiciones") Politicas de Privacidad


    script(src='./js/jquery-1.9.1.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js')
    script(src='http://afarkas.github.io/webshim/js-webshim/minified/polyfiller.js')
    script(src='./js/index.js')
