doctype strict
html(xmlns='http://www.w3.org/1999/xhtml', lang='es')
  head
    meta(charset='utf-8')
    //- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='robots', content='noodp,noydir')
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
    meta(name='description', content='Tabi Assist - Viaje Seguro con una Tarjeta de Asistencia')
    title Tabi Assist
    link(rel='icon', type='image/png', href='../../favicon.png')

    //- Facebook
    meta(property='og:title', content='Tabi Assist')
    meta(property='og:description', content='Viaje Seguro con una Tarjeta de Asistencia')
    meta(property='og:image', content='/og_image.jpg')
    meta(property='og:type', content='website')
    meta(property='og:url', content='/')
    //- Styles
    link(rel='stylesheet', href='../../css/index.css')

    //- if lt IE 9
      script(src='./js/html5shiv.js')
    //- if lt IE 9
      script(src='./js/respond.src.js')
    //- if lt IE 9
      link(rel='stylesheet', type='text/css', media='all', href='./css/ie8.css')

    style.
        .button:hover {
            background: #4598b6;
        }

  body
    header(class="HeaderMain")
        div(class="HeaderMain__LogoMain")
            figure(class="HeaderMain__LogoMain__box")
                img(src="../../images/logo.png")


    section(class="PricingElements" data-id="#{code}")
        div(class="PricingElements__title")
            h2 Administrar Plataforma
            br
            p ¿Qué hacemos hoy?

        div(class="Admin_box Admin")
            div(class="actions")

                div(class="Admin__box__right")
                    form(action="/admin/plataforma/usuarios" method="post")
                        button(class="button") Administrar Usuarios / Clientes

                div(class="Admin__box__right")
                    form(action="/admin/generator/template/view")
                        button(class="button") Administrar Cupones / Descuento


                div(class="Admin__box__right")
                    form(action="/admin/plataforma/orders" method="get")
                        button(class="button") Administrar Pedidos / Vouchers


                div(class="Admin__box__right")
                    form(action="/admin/login" method="get")
                        button(class="button" style="background: #d9d9d9") Salir


    script(src='../../js/jquery-1.9.1.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js')
    script(src='https://afarkas.github.io/webshim/js-webshim/minified/polyfiller.js')
