
.Benefits
    // background red
    height 100vh
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-image url('../images/AboutUs/office-desk-background-2.jpg')
    background-size cover
    background-repeat no-repeat
    color white
    
    &__box
    
    &__title
        text-align center
        padding-bottom 2rem
        
        h2
            font-size 3rem
    
    &__Content
        
        &--item
            // background salmon
            width 30%
            display inline-block
            margin 10px
            padding 1rem 0
            margin-bottom 2rem
            
            figure
                width 20%
                display inline-block
                vertical-align top
                
                img
                    max-width 100%
            
            .text
                width 60%
                display inline-block
                vertical-align top
                text-align left
                
                h3
                    font-size 1.3rem
                    text-transform uppercase

                p 
                    font-size 1rem