

.HeaderMain
    background black
    overflow hidden
    padding 10px 25px
    
    &__LogoMain
        // background blue
        display inline-block
        vertical-align middle
        
        &__box
            width 170px
            
            img
                max-width 100%   
        
    &__NavMain
        // background red
        display inline-block
        vertical-align middle
        float right
        padding-top 20px
        
        &__Container
            
            &--item
                display inline-block
                margin-left 10px
                
                figure
                    width 20px
                    
                    img
                        max-width 100%