.Admin_box
  width 500px
  margin 0 auto
  text-align center

.Admin
    .input
        padding-bottom 1rem
        
    label
        display block
        text-align left
        
    input
        padding .5rem
        font-size 1rem
        margin-top 1rem
        width 90%
        
    .button
      background blue_logo
      border none
      color white
      border-radius 10px
      display block
      padding 1rem
      margin 0 auto
      text-align center
      width 100%
      margin-top 1rem
      display block
      cursor pointer
      font-size 1.1rem
      
    .box__left
        background blue_logo
        margin 1rem
        padding 1rem
        display block
        border-radius 10px
        
        a
            color white
            text-decoration none

    .box__right
        background blue_logo
        margin 1rem
        padding 1rem
        display block
        border-radius 10px
        color white
        
        a
            color white
            text-decoration none
          