

.PricingElements
    padding-top 5rem
    text-align center
    
    &__title
            
        text-align center
        padding-top 3rem
        padding-bottom 3rem
        
        h2
            font-size 2rem

    &__form
        display: inline-block
        width 40%
        
    .content-form
        width 100%

    &__list
        display: inline-block
        // background orange
        width 50%
        height 400px
        vertical-align top
        margin-left 100px
        overflow scroll
        
        article
            background lightgray
            margin 5px 
            border-radius 10px
            padding 3rem 0

            p, strong, button
                display block
                margin 0 auto
            
